[Unit]
Description=Daily restic backup timer for the user space of `can`

[Timer]
WakeSystem=false
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
